* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    width: 13%;
    position: relative;
    float: left;
}

.logo-title {
    display: inline;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 20%;
    margin-left: 20px;
}

.logo-title a {
    text-decoration: none;
    color: rgb(77, 74, 74);
}

nav {
    float: left;
    width: 40%;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(77, 74, 74);
    ;
    font-size: 20px;
    font-weight: 500;
}

nav ul li a:hover {
    color: #28a745;
    transition: all 0.2s;
}

.search-box {
    width: 15%;
    float: left;
    position: relative;
    margin-top: 10px;
}

.search-box input {
    border: 2px solid rgb(77, 74, 74);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.search-box img {
    width: 24px;
    position: absolute;
    top: 20%;
    left: 70%;
}

.social-icon {
    width: 25%;
    float: left;
    position: relative;
}

.social-icon img {
    width: 10%;
}

.social-icon img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.social-icon ul li {
    list-style: none;
    display: inline;
    margin: 10px;
}

.social-icon ul span {
    position: absolute;
    top: 32%;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 20px
}

.menu-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
}


/* --------------header-title----------------------- */

.header-title {
    background-color: #343a40;
    text-align: center;
    padding: 20px 0px;
}

.header-title h1 {
    color: white;
}

.header-title h3 {
    color: #6c757d;
}

.product-cart {
    margin: 50px auto;
    display: block;
    width: 90%;
    text-align: center;
}

.product-name {
    width: 55%;
    position: relative;
    text-align: left;
}

.product-name span {
    font-weight: bold;
    margin: 0px 20px;
    position: absolute;
    top: 40%;
}

.product-name img {
    margin-left: 30px;
}

td {
    width: 10%;
}

.quantity {
    border: 1px solid #343a40;
    margin: 0px 20px;
    text-align: center;
}

.quantity span {
    margin: 0px 3px;
    font-size: 20px;
}

.quantity span:hover {
    cursor: pointer;
    color: #28a745;
}

.button {
    float: right;
}

.button a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

#btn-clear {
    background-color: #6c757d;
    padding: 10px 20px;
    margin-right: 20px;
}

#btn-clear:hover {
    background-color: #343a40;
}

#btn-continue {
    background-color: #28a745;
    padding: 10px 20px;
}

#btn-continue:hover {
    background-color: #343a40;
}


/* ------------------Ship------------------------- */

.ship {
    width: 40%;
    margin: 5%;
    padding: 2%;
    background-color: #f8f9fa;
    float: left;
}

.ship input[type=text] {
    padding: 10px;
    margin: 20px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #2fce98;
    padding: 10px 30px;
    font-weight: 600;
}

.ship ul li {
    list-style: none;
    margin: 5px;
}


/* .ship input[type=checkbox] {
    
} */

.ship ul li span {
    margin-left: 10px;
    margin-right: 50px;
}


/* -------------------------Cart-total----------------------------- */

.cart-total {
    width: 40%;
    padding: 2%;
    float: left;
    background-color: #f8f9fa;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cart-total ul li {
    list-style: none;
    margin: 5%;
    font-size: 24px;
    font-weight: 600;
    color: #343a40;
}

.cart-total ul li span {
    text-align: right;
    margin-left: 40%;
}

.cart-total .btn {
    margin: 0 auto;
    display: block;
    width: fit-content;
}